{
  inputs = {
    nixpkgs = {
      url = "github:NixOS/nixpkgs/nixos-24.11";
    };

    flake-parts = {
      url = "github:hercules-ci/flake-parts";
    };
  };

  outputs = inputs:
    inputs.flake-parts.lib.mkFlake {inherit inputs;} {
      # Import local override if it exists
      imports = [
        (
          if builtins.pathExists ./local.nix
          then ./local.nix
          else {}
        )
      ];

      # Sensible defaults
      systems = [
        "x86_64-linux"
        "i686-linux"
        "aarch64-linux"
        "x86_64-darwin"
        "aarch64-darwin"
      ];

      perSystem = {
        config,
        pkgs,
        system,
        ...
      }: let
        {%- if docs %}
        node = pkgs.nodejs;
        {%- endif %}
        nil = pkgs.nil;
        task = pkgs.go-task;
        coreutils = pkgs.coreutils;
        trunk = pkgs.trunk-io;
        copier = pkgs.copier;
        helm = pkgs.kubernetes-helm;
        yq = pkgs.yq-go;
      in {
        # Override pkgs argument
        _module.args.pkgs = import inputs.nixpkgs {
          inherit system;
          config = {
            # Allow packages with non-free licenses
            allowUnfree = true;
            # Allow packages with broken dependencies
            allowBroken = true;
            # Allow packages with unsupported system
            allowUnsupportedSystem = true;
          };
        };

        # Set which formatter should be used
        formatter = pkgs.alejandra;

        # Define multiple development shells for different purposes
        devShells = {
          default = pkgs.mkShell {
            name = "dev";

            packages = [
              {%- if docs %}
              node
              {%- endif %}
              nil
              task
              coreutils
              trunk
              copier
              helm
              yq
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          template = pkgs.mkShell {
            name = "template";

            packages = [
              task
              coreutils
              copier
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          lint = pkgs.mkShell {
            name = "lint";

            packages = [
              {%- if docs %}
              node
              {%- endif %}
              task
              coreutils
              trunk
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          validate = pkgs.mkShell {
            name = "validate";

            packages = [
              task
              coreutils
              helm
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          build = pkgs.mkShell {
            name = "build";

            packages = [
              task
              coreutils
              helm
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };

          release = pkgs.mkShell {
            name = "release";

            packages = [
              task
              coreutils
              helm
              yq
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };
          {%- if docs %}

          docs = pkgs.mkShell {
            name = "docs";

            packages = [
              node
              task
              coreutils
            ];

            shellHook = ''
              export TMPDIR=/tmp
            '';
          };
          {%- endif %}
        };
      };
    };
}
